
.page__animation {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    &-main {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;
        color: #1E0606;
        width: 360px;
        height: 44px;
        margin-top: 61px;
        margin-bottom: 8px;
        margin-left: 110px;
    }
    &-text {
        display: flex;
        align-items: center;
        margin-left: 110px;
    }
    &-item {
        font-family: "Crimson Text";
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #1E0606;
        margin-right: 20px;
    }
    &-arrow {
        margin-right: 20px;
    }
    &-item:hover {
        opacity: 0.4;
    }
    &-item:active {
        opacity: 0.5;
    }
    &-city {
        margin-bottom: 77px;
    }
    &-carone {
        position: absolute;
        left: 13%;
        top: 70%;
        animation: animation-carone 8s ease infinite; 
    }
    &-cartwo {
        position: absolute;
        left: 33%;
        top: 70%;
        animation: animation-carone 8s ease infinite; 
    }
    &-carthree {
        position: absolute;
        left: 48%;
        top: 72%;
        animation: animation-carone 8s ease infinite; 
    }   
    &-carfour {
        position: absolute;
        left: 73.2%;
        top: 67%;
        animation: animation-carone 8s ease infinite; 
    }
    &-lampone {
        position: absolute;
        left: 38.2%;
        top: 42%; 
    }
    &-lamptwo {
        position: absolute;
        left: 78.8%;
        top: 41%;
    }
    &-lampactive {
        position: absolute;
        left: 68.8%;
        top: 40%;
        z-index: 2;
    }
    &-taxi {
        position: absolute;
        right: -800px;
        top: 66%;
        z-index: 1;
        // transform: translateY(350px);
        animation: animation-taxi 8s ease-in-out infinite;
    }
    &-taxitext {
        position: absolute;
        left: 44%;
        top: 62.4%;
        z-index: 3;
        animation: animation-taxitex 8s ease-in-out infinite;
    }
    &-woman {
        position: absolute;
        left: 22.8%;
        top: 73.3%;
        width: 211px;
        height: 283px;
        z-index: 1;
    }
    &-womantext {
        position: absolute;
        left: 19%;
        top: 62.4%; 
        animation: woman-text 8s ease-in-out infinite;
    }
    &-men {
        position: absolute;
        left: 29.8%;
        top: 62%;
        z-index: 1;
    }
    &-mentext {
        position: absolute;
        left: 29%;
        top: 54.4%; 
        z-index: 4;
        animation: men-text 8s ease-in-out infinite;
    }
    &-arm {
        position: absolute;
        left: 29.4%;
        top: 74%;
        z-index: 1;
        animation: arm-one 8s ease-in-out infinite;
    }
    &-armtwo {
        position: absolute;
        left: 30.4%;
        top: 64%;
        z-index: 1;
        animation: arm-two 8s ease-in-out infinite;
    }
}

// .container__width {
//     width: 1400px;
//     overflow: hidden;
//     margin: 0 auto;
//     padding: 0;
// }


@keyframes animation-taxi {
    0% {
        right: 0;
    }
    50% {
        right: 500px;
    }
    100% {
        right: 2000px;
    }
}

@keyframes animation-taxitex {
    0% {
       opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
     100% {
         opacity: 0;
     }
}

@keyframes animation-carone {
    
    0% {
        right: 600px;
    }
    100% {
        left: 3000px;
    }
}

@keyframes animation-cartwo {
    
    0% {
        left: 400px;
    }
    100% {
        left: 2000px;
    }
}

@keyframes woman-text {
    0% {
        opacity: 0;
     }
     40% {
         opacity: 1;
     }
     43% {
        opacity: 0;
    }
      100% {
          opacity: 0;
      }
 }
 @keyframes men-text {
    0% {
        opacity: 0;
     }
     60% {
         opacity: 1;
     }
     80% {
        opacity: 0;
    }
      100% {
          opacity: 0;
      }
 }

 @keyframes arm-one {
    0% {
        opacity: 1;
     }
     40% {
         opacity: 0;
     }
     80% {
        opacity: 0;
    }
      100% {
          opacity: 1;
      }
 }
 
 @keyframes arm-two {
    0% {
        opacity: 0;
     }
     60% {
         opacity: 1;
     }
     80% {
        opacity: 0;
    }
      100% {
          opacity: 0;
      }
 }
 
