.footer {
  display: flex;
  align-items: cenet;
  margin-top: 100px;
  background: #434343;
  height: 555px;
  margin: 0 auto;
  @media (max-width:702px) {
  height: 884px;
  }
  &__aside {
    display: flex;
    @media (max-width:1187px) {
      margin-left: 30px;
    }
    @media (max-width:702px) {
      flex-direction: column;
      margin-top: -32px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 100px;
  }

  &__text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 23px;
  }
  &__text:hover {
    opacity: 0.3;
  }
  &__text:active {
    opacity: 0.2;
  }
  &__line {
    width: 380px;
    height: 1px;
    background: #666666;
    @media (max-width:1187px) {
      width: 203px;
    }
    @media (max-width:702px) {
      width: 325px;
    }
    
  }
  &__info {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 28px;
    color: #FFFFFF;
    @media (max-width:702px) {
      columns: 2;
      counter-reset: center;
      padding-right: 329px;
    }
  }
//   &__info-item:nth-child(3) {
//     @media (max-width:702px) {
//       padding-top: 23px;
//     }
//   }
//   &__info-item:nth-child(2) {
//     @media (max-width:702px) {
//       padding-top: 1px;
//   }
// }
  
  &__info-item {
    padding-bottom: 15px;
    @media (max-width:702px) {
      width: 157px;
    }
  }
  &__info-item:hover {
    opacity: 0.3;
  }
  &__info-item:active {
    opacity: 0.2;
  }
  &__customer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  &__customer-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 23px;
    @media (max-width:702px) {
      margin-top: -60px;
    }
  }

  &__customer-line {
    width: 380px;
    height: 1px;
    background: #666666;
    margin-right: 20px;
    @media (max-width:1187px) {
      max-width: 203px;
    }
    @media (max-width:702px) {
      max-width: 325px;
    }
  }

  &__customer-it {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 28px;
    color: #FFFFFF;
    @media (max-width:702px) {
      columns: 2;
      counter-reset: center;
      padding-right: 329px;
    }
  }

  &__customer-item {
    padding-bottom: 15px;
  }
  &__customer-item:hover {
    opacity: 0.3;
  }
  &__customer-item:active  {
    opacity: 0.2;
  }
  &__customer-text:hover {
    opacity: 0.3;
  }
  &__customer-text:active {
    opacity: 0.2;
  }
  &__connect {
    margin-right: 20px;
    margin-top: 100px;
  }
  &__connect-wrap {
    display: flex;
    flex-direction: column;
  }
  &__connect-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    margin-bottom: 23px;
    @media (max-width:702px) {
      margin-top: -77px;
    }
  }
  &__connect-text:hover {
    opacity: 0.3;
  }
  &__connect-text:active {
    opacity: 0.2;
  }

  &__connect-line {
    width: 380px;
    height: 1px;
    background: #666666;
    margin-bottom: 25px;  
    @media (max-width:1187px) {
      width: 203px;
    }
    @media (max-width:702px) {
      width: 325px;
    }
  }

  &__mail {
    display: flex;
    margin-bottom: 25px;  
    @media (max-width:1187px) {
      max-width: 50px;
    }  
  }

  &__input {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 6px 18px 7px 15px;
    width: 299px;
    background: #666666;
    border-right: none;
    @media (max-width:1187px) {
      max-width: 150px;
    }
    @media (max-width:702px) {
      max-width: 249px;
      padding-right: 145px;
    }
  }
  &__input::-webkit-input-placeholder {
    color: #EBEBEB; 
  }
  &__links {
    display: flex;
  }

  &__img-item {
    padding-right: 10px;
  }
  &__img-item:hover {
    opacity: 0.3;
  }
  &__img-item:active {
    opacity: 0.2;
  }
  &__line-big {
    width: 1180px;
    height: 1px;
    background: #666666;
    margin-bottom: 23px;
    margin-top: 12px;
    @media (max-width:1187px) {
      max-width: 658px;
      margin-left: 30px;
    }
    @media (max-width:702px) {
      max-width: 325px;
      margin-top: 40px;
    }
  }
  &__box {
    display: flex;
    @media (max-width:1187px) {
      flex-direction: column;
    }
    @media (max-width:702px) {
      flex-direction: column;
    }
  }
  // &__info-box {
  //   display: flex;
  // }
  &__company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
    @media (max-width:1187px) {
      margin-left: -427px;
    }
  }
  &__company-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-right: 25px;
    color: #FFFFFF;
    margin-top: 4px;
    @media (max-width:1187px) {
      margin-left: 30px;
      max-width: 123px;
    }
  }
  &__button {
    display: block;
    font-family: $font-opensans;
    text-transform: uppercase;
    border: none;
    width: 81px;
    height: 40px;
    font-weight: 700;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    @media (max-width:702px) {
      max-width: 60px;
      padding-right: 44px;
    }
  }
  &__button:hover {
    background: #C29974;
    color: #FFFFFF; 
    transition: 0.3s linear;
  }
  &__info-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-right: 109px;
    color: #FFFFFF;
    margin-left: 150px; 
    @media (max-width:1187px) {
      margin-left: 31px;
      margin-top: 15px;
    }
    @media (max-width:702px) {
      margin-left: 32px;
    }
  }
  &__web-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A2A2A2;
    margin-left: 2px;
    margin-top: 2px;
    @media (max-width:1187px) {
      margin-left: 371px;
      margin-top: -22px;
    }
    @media (max-width:702px) {
      margin-left: 33px;
      margin-top: 10px;
    }
  }
  &__web-text:hover {
    text-decoration: underline;
  }
  &__web-text:active {
    text-decoration: underline;
  }
  
/*************************************************************************************************** РЕЙТИНГ */
  &__rating-area {
    position: relative;
    overflow: hidden;
    margin: 0 0;
    margin-top: 4px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    margin-left: 3px;
  }
    &__rating-area:not(:checked) > input {
      display: none;
  }
    &__rating-area:not(:checked) > label {
      float: right;
      cursor: pointer;
      font-size: 17px;
      margin-right: 7px;
      background-image: url('/img/icon/staroff.svg');
      background-size: cover;
      width: 13px;
      height: 13px;
  }
  &__rating-area:not(:checked) > label:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
  }
  &__rating-area > input:checked ~ label {
    color: #FFFFFF;
    background-image: url('/img/icon/staron.svg');
    width: 13px;
    height: 13px;
  }
  &__rating-area:not(:checked) > label:hover,
  &__rating-area:not(:checked) > label:hover ~ label {
  background-image: url('/img/icon/starhover.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  color: #FFFFFF;;
  }
  &__rating-area > input:checked + label:hover,
  &__rating-area > input:checked + label:hover ~ label,
  &__rating-area > input:checked ~ label:hover,
  &__rating-area > input:checked ~ label:hover ~ label,
  &__rating-area > label:hover ~ input:checked ~ label {
  background-image: url('/img/icon/starhover.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  }
  &__rating-area > label:active {
    position: relative;
    opacity: 0.5;
  }
}


