.header {
    display: flex;
    align-items: center;
    margin-top: 16px;
    @media (max-width:768px) {
        margin-left: 36px;
    }
    &__list {
        display: flex;
        margin-right: auto;
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        @media (max-width:768px) {
            display: none; 
        }
    }

    &__contact {
        display: flex;
        align-items: center; 
        @media (max-width:768px) {
            margin-right: -218px;
        }  
    }

    &__text {
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        word-spacing: 2px;
        margin-left: 21px;
        @media (max-width:768px) {
            display: none; 
        }
        // 
    }

    &__text:hover {
        opacity: 0.3; 
    }

    &__text:active {
        opacity: 0.2;
    }

    &__list-item {
        margin-right: 21px;
        align-items: center;
    }
    &__list-item:hover {
        opacity: 0.3;
    }
    &__list-item:active {
        opacity: 0.2;
    }
    &__list-item:nth-child(2) {
        margin-left: 9px;
        align-items: center;
    }
    &__logo-img {
        width: 100.08px;
        height: 52px;  
        margin-right: 60px;
        @media screen and (max-width:768px) {
            // margin-left: 133px;
        }
    }
    
    &__logo-img:hover {
        opacity: 0.3;
    }

    &__logo-img:active {
        opacity: 0.2;
    }
    &__contact-img {
        margin-right: 2px;
        @media screen and (max-width:768px) {
            // margin-left: 797px;
        }
    }
    &__contact-img:hover {
        opacity: 0.3;
    }
    &__contact-img:active {
        opacity: 0.2;
    }   
}

.menu {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
    display: none;
    @media screen and (max-width:768px) {
        display: block;
        // margin-right: 166px;
        margin-right: 50%;        
    }   
}

.container__width {
    width: 1400px;
    left: 1918px;
}



