.header {
    display: flex;
    align-items: center;
    margin-top: 16px;
    &__list {
        display: flex;
        margin-right: auto;
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }

    &__contact {
        display: flex;
        align-items: center;  
    }

    &__text {
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        word-spacing: 2px;
        margin-left: 21px;
    }

    &__text:hover {
        opacity: 0.3; 
    }

    &__text:active {
        opacity: 0.2;
    }

    &__list-item {
        margin-right: 21px;
        align-items: center;
    }
    &__list-item:hover {
        opacity: 0.3;
    }
    &__list-item:active {
        opacity: 0.2;
    }
    &__list-item:nth-child(2) {
        margin-left: 9px;
        align-items: center;
    }
    &__logo-img {
        width: 100.08px;
        height: 52px;  
        margin-right: 60px;
    }
    
    &__logo-img:hover {
        opacity: 0.3;
    }

    &__logo-img:active {
        opacity: 0.2;
    }
    &__contact-img {
        margin-right: 2px;
    }
    &__contact-img:hover {
        opacity: 0.3;
    }
    &__contact-img:active {
        opacity: 0.2;
    }   
}



.container__width {
    width: 1400px;
    left: 1918px;
}



