.help__you {
    display: flex;
    flex-direction: column;
    margin-left: 121px;
    margin-top: -4px;
    &-items {
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        width: 380px;
        margin-bottom: 20px;
    }
    &-item {
        font-family: $font-opensans;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        width: 380px;
        margin-bottom: 20px;
    }
    &-it {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
        width: 380px;
    }
}

