.catalog__slider {
    display: flex;
    flex-direction: row;
    @media (max-width:768px) {
      margin-left: 20px;
  }
    &-arrows {
      display: flex;
      margin-top: 15px;
      @media (max-width:768px) {
        padding: 0 0 0 22px;
    }
    @media (max-width: 1456px) {
      // margin-left: 400px;
  }
    @media (max-width:686px) {
      // margin-left: -587px;
    }
    }
    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: #D5D4E1;
      width: 36px;
      height: 41px;
      background: rgba(112, 187, 220, 0.2);
      border: none;
      margin-left: 42px;
    }
    &-positionleft {
      position: relative;
      padding: 3px;  
    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: #D5D4E1;
      width: 36px;
      height: 41px;
      background: rgba(112, 187, 220, 0.2);
      border: none;
    }
    &-positionright {
      position: relative;
      padding: 3px;
      padding-left: 16px;  
    }
    &-text {
      font-family: $font-opensans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #1E0606;
      max-width: 548px;
      margin-left: 24px;
      @media (max-width:768px) {
        max-width: 595px;
  }
      @media (max-width:686px) {
        max-width: 289px;
  }
    }
  }