@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
@import "_fonts";

/*
  Import all other blocks
*/
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/button";
@import "_blocks/slider";
@import "_blocks/popup";
@import "_blocks/animation";
@import "_blocks/help";
@import "_blocks/svg";


/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

// 1 СТРАНИЦА

.banner {
  margin-top: 40px;
  margin: 0 auto;
  width: 1180px;
  height: 372px;
  position: relative;
  background: #EEE4DB;
  margin-top: 129px;

  &__wr {
    display: flex;
    flex-direction: column;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    margin-top: 17px;
    margin-left: 28px;
  }
  &__handle {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
  }
  &__handle-item {
    width: 30px;
    height: 3px;
    background: #D6CAC2;
    margin-top: 11px;
  }
  &__handle-item:hover {
    background: #725F5B;
  }
  &__collection {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    width: 307px;
    margin-left: 45px;
    margin-top: 89px;
    margin-bottom: 19px;
  }
  &__designed-text {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-left: 44px;
    padding-bottom: 20px;
  }
  &__img {
    position: absolute;
    left: 448px;
    top: -89px;
  }
  &__title {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    background: #C29974;
    padding: 11px;
    color: #FFFFFF; 
  }
  
}



.banner-wrap {
  display: flex;
}

.banner__full {
  display: flex;
  flex-direction: column; 
}

.button-btn:hover {
  background: #C29974;
  color: #FFFFFF; 
  transition: 0.3s linear;
}



/**************************************************************************************** Каталог */
.catalog {
  &__title {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-top: 90px;
    margin-bottom: 30px;
  }
}


.catalog__products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -9px;
  margin-top: 32px;
  &-kids {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #DBE4DB;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
  }
  &-text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
  }
  &-text:hover {
    text-decoration: underline; 
  }
  &-text:active {
    text-decoration: underline; 
  }

  &-shop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #EADDD3;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
  }
  &-toys {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F8F2DA;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
    margin-right: 20px;
  }
  &-accessories {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #D5D4E1;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
    margin-right: -9px;
  }
}



/******************************************************************* Деливери женщина ************************************************************************************************/

.delivery {
  margin-top: 90px;
  &__info {
    display: flex;
  }
  &__more {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 472px;
    margin-top: 30px;
    padding-left: 121px;
  }
  &__text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  &__itemdel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    padding-right: 119px
  }
  &__style {
    position: relative;
    width: 326px;
    height: 55px;
    background: rgba(112, 187, 220, 0.2);
    margin-left: -61px;
    margin-bottom: 11px;
  }
  &__itemgua {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 22px;
  }
  &__itemcre {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 30px;
  }
  &__title {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 480px;
    margin-bottom: 15px;
  }
  &__titlesecond {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 480px;
    margin-bottom: 26px;
  }
  &__button {
    display: block;
    font-family: $font-opensans;
    text-transform: uppercase;
    border: none;
    width: 149px;
    height: 40px;
    font-weight: 700;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    
  }
  &__button:hover {
    background: #C29974;
    color: #FFFFFF; 
    transition: 0.3s linear;
  }
}


/* Брэнды */

.brands__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 90px;
  &-mail {
    margin-right: 127px;
  }
  &-apple {
    margin-right: 127px;
  }
  &-eltex {
    margin-right: 127px;
  }
}
/****************************************************************************************************** Информация и карта  */

.info {
  display: flex;
  margin-top: 122px;
  &__wrap {
    display: flex;
    margin-bottom: 164px;
    margin-top: -8px;
    margin-left: -2px;
  }
  &__design {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 10px;
    padding-top: 32px;
    padding-left: 33px;
  }
  &__text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    position: absolute;
    margin-top: -22px;
    margin-left: 32px;
  }
  &__des {
    position: relative;
    background: #E1F0F7;
    width: 543px;
  }
  &__title {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 483px;
    margin-bottom: 20px;
    margin-left: 33px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 57px;
    margin-bottom: 20px;
    background: #E1F0F7;
  }
  &__contacts-text {
    position: absolute;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: -22px;
    margin-left: 32px;
  }
  &__contacts-more {
    display: flex;
    flex-direction: column;
    width: 543px;
    height: 209px;
  }
  &__contacts-title {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 483px;
    margin-top: 44px;
    margin-bottom: 30px;
    margin-left: 33px;
  }
  &__input-name {
  width: 600px;
  height: 50px;
  margin-bottom: 5px;
 }

}

.button-info {
  display: block;
  font-family: $font-opensans;
  text-transform: uppercase;
  border: none;
  width: 123px;
  height: 40px;
  font-weight: 700;
  color: #FFFFFF;
  background: #000000;
  text-align: center;
  padding: 9px;
  cursor: pointer;
  margin-left: 33px;
  margin-bottom: 28px;
}
.button-info:hover {
  background: #C29974;
  color: #FFFFFF; 
  transition: 0.3s linear;
}

.map {
  padding-left: 33px;
}



// 2 СТРАНИЦА КАТАЛОГ 

.category {
  margin-bottom: -56px;
  &__title {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
  }
  &__home {
    display: flex;
    align-items: center;
    margin-top: -13px;
    margin-bottom: 104px;
  }
  &__home-item {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
  }
  &__home-item:hover {
    opacity: 0.5;
  }
  &__home-arrow {
    margin-right: 20px;
  }
  &__home-it {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    text-transform: capitalize;
  }
  &__home-it:hover {
    opacity: 0.5;
  }
}



/*********************************************************************************************KATAKLOG */


.catalog__product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  &-kid {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #DBE4DB;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
  }
  &-text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF; 
  }
  &-text:hover {
    text-decoration: underline;
  }
  &-text:active{
    text-decoration: underline;
  }
  &-sh {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #EADDD3;
    margin-right: 20px; 
    width: 280px;   
    height: 270px;
  }
  &-shtext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
  }
  &-shtext:hover {
    text-decoration: underline;
  }
  &-shtext:active {
    text-decoration: underline;
  }
  &-toy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F8F2DA;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-right: 62px;
  }
  &-toytext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
  }
  &-toytext:hover {
    text-decoration: underline;
  }
  &-toytext:active {
    text-decoration: underline;
  }
  &-access {
    display: flex;
    flex-wrap: wrap;
  }
  &-accesstext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
    margin-right: 40px;
  }
  &-access {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #D5D4E1;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-top: 25px;
    margin-left: 202px;
  }
  &-accesstext:hover {
    text-decoration: underline;
  }
  &-accesstext:active {
    text-decoration: underline;
  }
  &-bird {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #F3D0DB;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-top: 24px;
  }
  &-birdtext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    width: 155px;
    color: #FFFFFF;
  }
  &-birdtext:hover {
    text-decoration: underline;
  }
  &-birdtext:active {
    text-decoration: underline;
  }
  &-rabbit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #E5EAF8;
    margin-right: 20px;
    width: 280px;
    height: 270px;
    margin-top: 24px;
    margin-right: 20px;
  }
  &-rabbittext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    padding-right: 9px;
    width: 155px;
    color: #FFFFFF;
  }
  &-rabbittext:hover {
    text-decoration: underline;
  }
  &-rabbittext:active {
    text-decoration: underline;
  }
  
}

/****************************************************************************************** PRODUCT */
.description {
  &__producttitle {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 56px;
    margin-left: 201px;
  }
  &__producttext {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 680px;
    color: #1E0606;
    margin-left: 201px;
    margin-top: 24px;
  }
  &__productdesc {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 680px;
    color: #1E0606;
    margin-left: 201px;
    margin-top: 16px;
  }
  &__productslogan {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 680px;
    color: #1E0606;
    margin-left: 201px;
    margin-top: 15px;
    margin-bottom: 51px;
  }
}



// 3 СТРАНИЦА ТОЙС
.toy {
  &__title {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
  }

  &__home {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -13px;
  }
  &__home-item {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
  }
  &__home-item:hover {
    opacity: 0.5;
  }
  &__home-it {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
    margin-left: 17px;
  }
  &__home-it:hover {
    opacity: 0.5;
  }
  &__home-ite {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-left: 21px;
  }
  &__home-ite:hover {
    opacity: 0.5;
  }
}



/********************************************************************************************* ПОЛЗУНОК И ЧЕКБОКСЫ */

.filters {
  background: rgba(125, 151, 218, 0.2);
  width: 1400px;
  height: 254px;
  margin: 0 auto;
  &__navigations {
    display: flex;
  }
  &__cost {
    display: flex;
    flex-direction: column;
    margin-right: 94px;
    margin-top: 43px;
  }
  &__cost-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }
  &__cost-items {
    display: flex;
  }
  &__cost-item {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-right: 169px;
    padding-top: 16px;
  }
  &__cost-input {
    width: 188px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 4px;
    margin-top: 24px;
    margin-left: 6px;
    background: #C29974; 
    outline: none;
  } 
  &__cost-input::-webkit-slider-runnable-track {
    height: 4px;
    background-color: #000000;
  }
  &__cost-input::-moz-range-track {
    height: 4px;
    background-color: #000000;
}
  &__cost-input::-moz-range-thumb { 
    background: #ecf0f1;
    cursor: pointer;
    height: 7px;
    border-radius: 0px;
    box-shadow: -200px  0px 0px 200px   #C29974;;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}
&__cost-input::-webkit-slider-thumb {
  background: #C29974; 
  border: 9px solid #C29974;
  cursor: pointer;
  background: #FFFFFF;
  width: 24px;
  height: 24px;
  border-radius: 38px;
  margin-top: -11px;
  
  box-shadow: -200px  0 0 200px  #C29974;
}
 &__cost-input {
     background: linear-gradient(to right, #C29974 0%, #C29974 40%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.5) 100%);
     /*border: solid 2px #C29974;
     border-radius: 8px;*/
     width: 188px;
     height: 4px;
     outline: none;
     /*transition: background 450ms ease-in;*/
     appearance: none;
     margin-left: 5px;
    }
    &__cost-input::-webkit-slider-thumb {
     width: 24px;
     height: 24px;
     border-radius: 50%;
     appearance: none;
     cursor: ew-resize;
     background: #ffffff;
     border: solid 8.35px #C29974;
    }
}





.form_radio input[type=radio]:checked + label:before {
background: url('../img/radius.svg') 0 0 no-repeat;
  background-size: 90%;
  background-position-y: 1.6px;
  background-position-x: 1.6px;
  padding-right: 1px;
  margin-left: -4px;
}


// color
.colouring {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-left: -166px;
  margin-top: 43px;
  &__text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }
  &__item {
    padding-left: 17px;
    cursor: pointer;
    margin-top: 11px;
  }
  &__chekbox {
    display: none;
  }
  &__item:nth-of-type(1) {
    padding-top: 2px;
  }
  &__item::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid #C29974;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: -18px;
    margin-right: 10px;
  }
  &__chekbox:checked + &__item::before {
    content: '';
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    padding-left: 0.3px;
  }
  &__checkmark {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }
  &__checkmark:hover {
    text-decoration: underline;
  }
  &__checkmark:active {
    text-decoration: underline;
  }
  &__checkmark:disabled {
    color: #908484;
  }
}



/******************************************************************************************************** RADIO */

.filters__delivery {
  margin-right: 69px;
  margin-left: 126px;
  margin-top: 41px;
  &-text {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-bottom: 18px;
    margin-left: -4px;
  }
  &-checkmark {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-left: 2px;
  }
  &-checkmark:hover {
    text-decoration: underline;
  }
  &-checkmark:active {
    text-decoration: underline;
  }
  &-radio {
    position: relative;
    margin-top: 10px;
  }
  &-input {
    appearance: none;
    position: absolute;
  }
  &-label {
    padding-left: 27px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    margin-left: -2px;
  }
  &-label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
    margin-left: -2px;
  }
  &-label:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color:  #C29974;;
    border-radius: 50%;
    opacity: 0;
    margin-left: -2px;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
    transition: opacity .1s linear;
  }
  &-input:checked + &-label::before {
    border-color: #C29974;
  
  }
  &-input:checked + &-label::after {
    opacity: 1;
  }
}


/* Checked */



/****************************************************************************** amount */

.amount {
  display: inline-block;
  overflow: hidden;
  margin-right: 58px;
  &__title {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-top: 42px;
    margin-bottom: 16px;
  }
  &__group-item {
    display: inline-block;
    float: left;  
    text-align: center;
    align-items: center;
  }
  &__group-button {
    display: block;
    font-family: $font-opensans;
    text-transform: uppercase;
    border: none;
    width: 98px;
    height: 40px;
    margin-left: 1px;
    font-weight: 700;
    color: #FFFFFF;
    background: #000000;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    margin-top: 79px;
  }
  &__group-button:hover {
    background: #C29974;
    color: #FFFFFF; 
    transition: 0.3s linear;
  }
  &__group-number {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    text-align: center;
  }
  &__group-in {
    display: none;
    }
    &__group-in:checked + label {
      background: #F3D0DB;
      }
      &__group-label {
        display: inline-block;
          cursor: pointer;
          padding-top: 1px;
          line-height: 34px;
          width: 80px;
          height: 35px;
          background: #FFFFFF;
        }
        &__group-label:hover {
          background: #EDDEEB;
          }
      
}


/***************************************************************************************************************** CATALOG */


.catalog {
  display: flex;
  margin-top: 58px;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &__shark {
    margin-right: 20px; 
    position: relative;
  }
  &__shark-learn {
    display: none;
  }
  &__shark-learnmore {
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
  }
  &__sharktext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  }
  &__sharktitle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-bottom: 15px;
  }
  &__shark-price {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
  }
  /* бекграунд при клике */
  &__shark-learn {
    display: none;
  }
  &__shark-learn:hover {
    display: block;
    opacity: 0.9;
  }
  &__shark-learn:hover:active {
    display: block;
    opacity: 0.67;
  }
  &__shark .catalog__shark-learn {
    display: none;
  }
  &__shark:hover a.catalog__shark-learn {
    display: block;
  }
  &__shark:active a.catalog__shark-learn {
    display: block;
  }

  &__more-brass {
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
  }
  &__brasstext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  }
  &__name-brass {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
  }
  &__price-brass {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
  }
    /************************************ BRASSSS ПРИ КЛИКЕ */
  &__brass {
    position: relative;
  }
  &__brass-learn {
    display: none;
  }
  &__brass-learn:hover {
    display: block;
    opacity: 0.9;
  }
  &__brass-learn:active {
    display: block;
    opacity: 0.67;
  }
  &__brass .catalog__brass-learn {
    display: none;
  }
  &__brass:hover a.catalog__brass-learn {
    display: block;
  }

  &__brass:active a.catalog__brass-learn {
    display: block;
  }
  &__more-cibo {
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
  }
  &__cibotext {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  }

  &__name-cibo {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
  }
  &__price-cibo {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
  }
/***************************************************************************************************************КЛИК cibo */
  &__cibo {
    margin-left: 20px;
    position: relative;
  }
  &__cibo-learn {
    display: none;
  }
  &__cibo-learn:hover {
    display: block;
    opacity: 0.9;
  }
  &__cibo-learn:active {
    display: block;
    opacity: 0.67;
  }
  &__cibo .catalog__cibo-learn {
    display: none;
  }
  &__cibo:hover a.catalog__cibo-learn {
    display: block;
  }
  &__cibo:active a.catalog__cibo-learn {
    display: block;
  }

/********************************************************************************************* конфеты */

  &__more-machine{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
  }
  &__machine-text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  }
  &__name__machine {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
  }
  &__name-machine {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 30px;
  }
  &__price-machine {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 16px;
  } 
  // состояние конфет 
  &__machine {
    position: relative;
    margin-top: 46px;
  }
  &__machine-learn{
    display: none;
  }
  &__machine-learn:hover {
    display: block;
    opacity: 0.9;
  }
  &__machine-learn:active {
    display: block;
    opacity: 0.67;
  }
  &__machine .catalog__machine-learn {
    display: none;
  }
  &__machine:hover a.catalog__machine-learn {
    display: block;
  } 
  &__machine:active a.catalog__machine-learn {
    display: block;
  }

  &__more-candle{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
  }
  &__name__candle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
  }
  &__candle-text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  }
  &__name-candle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 29px;
  }
  &__price-candle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 16px;
  }
  
  &__candle {
    position: relative;
    margin-top: 47px;
    margin-left: 19px;
  }
    /********************************************************************************************* свечка клик */
  &__candle-learn{
    display: none;
  }
  &__candle-learn:hover {
    display: block;
    opacity: 0.9;
  }
  &__candle-learn:active {
    display: block;
    opacity: 0.67;
  }
  &__candle .catalog__candle-learn {
    display: none;
  }
  &__candle:hover a.catalog__candle-learn {
    display: block;
  }
  &__candle:active a.catalog__candle-learn {
    display: block;
  }
  /********************************************************************************************* ВЕТРОДУЙКА КЛИК :d */
  &__tangle{
    position: relative;
    margin-top: 50px;
    margin-left: 21px;
  }
  &__tangle-learn{
    display: none;
  }
  &__tangle-learn:hover {
    display: block;
    opacity: 0.9;
  }
  &__tangle-learn:active {
    display: block;
    opacity: 0.67;
  }
  &__tangle .catalog__tangle-learn {
    display: none;
  }
  &__tangle:hover a.catalog__tangle-learn {
    display: block;
  }
  &__tangle:active a.catalog__tangle-learn {
    display: block;
  }
  &__more-tangle{
    position: absolute;
    width: 207px;
    height: 207px;
    background: #E5EAF8;
    left: 23%;
    top: 19%;
  }
  &__name-tangle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 32px;
    margin-left: -2px;
    margin-bottom: 15px;
  }
  &__tangle-text {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 84px;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  }
  &__name-tangle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin-top: 29px;
  }
  &__price-tangle {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin-top: 17px;
  }
  
}

/**************************************************************************************************************** slader */
.slider {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 54px;
  }
    &__list-item:hover {
      text-transform: uppercase;
      color: #C29974;
    }
    &__list-item:active {
      text-transform: uppercase;
      color: #AAAAAA;
    }
    &__img-rigth:hover {
      background: url('../img/arrowraighthover.svg');
    }
    &__img-left:hover {
      background: url('../img/arrowlefthover.svg');
    
    }
    &__img-rigth:active {
      background: url('../img/arrowraightactive.svg');
    }
    &__img-left:active {
      background: url('../img/arrowleftactive.svg'); 
    }
    &__list {
      display: flex;
    }
    &__list-item {
      font-family: $font-montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #1E0606;
      padding-right: 33px;
      padding-left: 33px;
    }
    
  }





// 4 СТРАНИЦА БЛОГ
.blog {
  &__title {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
    margin-bottom: 14px;
  }
  &__home {
    display: flex;
    align-items: center;
    margin-bottom: 50px; 
  }
  &__home-it {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
  }
  &__arrow-blog {
    margin-right: 20px;
  }
  &__home-item {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 20px;
}
  &__home-it:hover {
    opacity: 0.5;
}
  &__home-item:hover {
    opacity: 0.5;
  }

}






.titles {
  margin-bottom: -26px;
  &__des {
    margin-right: 20px;
  }
  
  &__date {
    font-family: $font-opensans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    margin-top: 20px;
  }

&__tl {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-top: 7px;
  width: 380px;
}
&__text {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  margin-top: 15px;
  margin-bottom: 19px;
  width: 380px;
}
&__panda-date {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 7px;
}
&__panda-tl {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-bottom: 15px;
}
&__panda-text {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  margin-top: 15px;
  width: 400px;
}
&__monkey-date {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-top: 20px;
}
&__monkey-tl {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-top: 7px;
  margin-bottom: 15px;
  width: 380px;
}
&__monkey-text {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  width: 380px;
}
&__baz-date {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 7px;
}
&__baz-tl {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-bottom: 15px;
}
&__baz-text {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  width: 380px;
}
&__prinesse-date {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 8px;
}
&__prinesse-tl {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  width: 380px;
}
&__prinesse-text {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  margin-top: 15px;
  width: 380px;
}
&__cubes-date {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 7px;
}
&__cubes-tl {
  display: block;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  width: 380px;
}
&__cubes-text {
  font-family: $font-opensans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  margin-top: 16px;
  width: 380px;
}
&__tl:hover {
  text-decoration: underline;
}
&__tltl:active {
  text-decoration: underline;
}
&__panda-tl:hover {
  text-decoration: underline;
}
&__panda-tl:active {
  text-decoration: underline;
}
&__monkey-tl:hover {
  text-decoration: underline;
}
&__monkey-tl:active {
  text-decoration: underline;
}
&__baz-tl:hover {
  text-decoration: underline;
}
&__baz-tl:active {
  text-decoration: underline;
}
&__prinesse-tl:hover {
  text-decoration: underline;
}
&__prinesse-tl:active {
  text-decoration: underline;
}
&__cubes-tl:hover {
  text-decoration: underline;
}
&__cubes-tl:active {
  text-decoration: underline;
}
}
.des {
  display: flex; 
  flex-wrap: wrap;
}


.baz {
  margin-top: 20px;
  margin-right: 20px;
}
.prinesse {
  margin-top: 20px;
  margin-right: 20px;
}
.cubes {
  margin-top: 20px;
}

// 5 СТРАНИЦА КОНТАКТЫ
.contact {
  &__title {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 59px;
    word-spacing: 10px;
    margin-bottom: 15px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
  }
  &__home-item {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-right: 16px;
    word-spacing: -2px;
  }
  &__home-it {
    font-family: $font-crimsontext;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #1E0606;
    margin-left: 18px;
  }
  &__home-item:hover {
    opacity: 0.5;
  }
  &__home-it:hover {
    opacity: 0.5;
  }
  &__container{
    display: flex;
    justify-content: center;
  } 
}


// POOOOPAP
.container-all {
  display: flex;
  margin-bottom: 62px;
}
// закрытия крестика на поапе
.button__close {
  background: rgba(125, 151, 218, 0.0);
  background-image: url('../img/closewhite.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 68.8%;
  top: 15.7%;
 }
 
 .button__close:hover {
  opacity: 0.4;
 }
 
 .button__close:active {
  opacity: 0.5;
 }


