<footer class="footer">
  <div class="container">
      <div class="footer__aside">
          <div class="footer__navigation">
              <p class="footer__text">Navigation</p>
              <div class="footer__line"></div>
                  <ul class="footer__info">
                      <li class="footer__info-item">About Us</li>
                      <li class="footer__info-item">Blog</li>
                      <li class="footer__info-item">Design Services</li>
                      <li class="footer__info-item">Featured On</li>
                      <li class="footer__info-item">2018 Holiday Catalog</li>
                      <li class="footer__info-item">Shop By Designer</li>
                  </ul>
          </div>
          <div class="footer__customer">
              <div class="footer__customer-text">Customer Information</div>
              <div class="footer__customer-line"></div>
                  <ul class="footer__customer-it">
                      <li class="footer__customer-item">Contact Us</li>
                      <li class="footer__customer-item">Sale Exclusions</li>
                      <li class="footer__customer-item">Shipping & Returns</li>
                      <li class="footer__customer-item">Terms & Conditions</li>
                      <li class="footer__customer-item">Privacy Policy</li>
                      <li class="footer__customer-item">Search</li>
                  </ul>
          </div>
          <div class="footer__connect">
              <form action="#" method="POST" class="form-elements"></form>
                  <div class="footer__connect-wrap">
                      <div class="footer__connect-text">Connect</div>
                      <div class="footer__connect-line"></div>
                      <div class="footer__mail">
                          <input class="footer__input" type="text" placeholder="Email">
                          @@include('blocks/button.html', {
                            "button-text": "Join",
                            "class": "footer__button",
                          })
                          <!-- <button class="footer__button">Join</button> -->
                      </div>
                          <ul class="footer__links">
                              <li class="footer__img-item"><img src="./img/facebook.svg" alt="facebook" width="30" height="30"></li>
                              <li class="footer__img-item"><img src="./img/twitter.svg" alt="twitter" width="30" height="30"></li>
                              <li class="footer__img-item"><img src="./img/pinterest.svg" alt="pinterest" width="30" height="30"></li>
                              <li class="footer__img-item"><img src="./img/instagram.svg" alt="instagram" width="30" height="30"></li>
                          </ul>
                      </div>
                  </div>
          </div>
          <div class="footer__line-big"></div>
          <div class="footer__box">
              <div class="footer__company">
                  <p class="footer__company-text">Company Rating</p>
                  <div class="footer__rating-mini">
                      <div class="footer__rating-area">
                       <input type="radio" id="star-5" name="rating" value="5">
                       <label class="label-rating" for="star-5" title="Супер"></label> 
                       <input type="radio" id="star-4" name="rating" value="4">
                       <label class="label-rating" for="star-4" title="Хорошо"></label>    
                       <input type="radio" id="star-3" name="rating" value="3">
                       <label class="label-rating" for="star-3" title="Пойдет"></label>  
                       <input type="radio" id="star-2" name="rating" value="2">
                       <label class="label-rating" for="star-2" title="Не очень"></label>    
                       <input type="radio" id="star-1" name="rating" value="1">
                       <label class="label-rating" for="star-1" title="Все sad"></label>
                      </div> 
                     </div>
                    </div>                                          
              <div class="footer__info-text">Copyright © 2018 Dlk • Design Life Kids</div>
              <div class="footer__web-text">Web Design — Direct Line Development</div>
          </div>
      </div>
</footer>