<header class="header">
    <div class="container header">
            <div class="header__logo-img">
                <a href="./index.html"><img class="logo-img" src="./img/dlk.png" alt="logo" width="100" height="52"></a>
            </div>
            <ul class="header__list">
                <li><a href="blog.html" class="header__list-item">BLOG</a></li>
                <li><a href="catalog.html" class="header__list-item">CATALOG</a></li>
                <li><a href="#" class="header__list-item">ABOUT US</a></li>
                <li><a href="animation.html" class="header__list-item">ANIMATION</a></li>
                <li><a href="svg.html" class="header__list-item">SVG</a></li>
               </ul>
            <ul class="header__contact">
                <li><img class="header__contact-img" src="./img/loupe.svg" alt="contact" width="17" height="17"></li>
                <li><a href="contactus.html" class="header__text">CONTACT US</a></li>
               </ul>
    </div>
</header>