
<div class="popup__form"> 
    <form action="#" method="post">
     <div class="popup__form-name">
      <label class="popup__form-namestyle" for="name">Name</label>
      <input class="popup__form-inputname" type="text" id="name" name="user-name">
     </div>
     <div class="popup__form-telemail">
      <div class="popup__form-tel">
       <label class="popup__form-labeltel" for="phone">Phone</label>
       <input class="popup__form-inputtel" type="tel" id="phone" name="user-phone">
      </div>
      <div class="popup__form-email">
       <label class="popup__form-labelemail" for="email">Email</label>
       <input class="popup__form-inputemail" type="email" id="email" name="user-email">
      </div>
     </div>
     <div class="popup__form-mess">
      <label class="popup__form-labelmess" for="message">Message</label>
      <textarea class="popup__form-textarea" id="message" name="user-message"></textarea> 
     </div>
     <div class="check">
      <input class="input-check" type="checkbox" id="consent" name="consent">
      <label class="label-check colouring-item" for="consent"><span>By clicking on the button, you consent to the processing of your personal data</span></label>
     <button class="button-form" type="button">SUBMIT</button>
        <button disabled="disabled" class="button-disabled" type="button">SUBMIT</button>
     </div>
    </form>
   </div>
